@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Encuentrenos en Facebook: <a href="https://www.facebook.com/Vista-Verde-Restaurant-104123885045068/">Siempre para Servirles</a>.</p>
</div>
